/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock
/tests/Application/vendor/*
/tests/Application/composer.lock

/tests/Application/var/*
!/tests/Application/var/.gitignore

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml
